---
import astroLogo from '../assets/astro.svg';
---

<div id="container">
	<main>
		<section id="hero">
			<h1 class="title mb-0-1">World-Space Player Tracking & Re-identification Under Partial Visibility in Broadcast Soccer Footage</h1>
			<h2 class="fw-500 m-0 mb-0-25">University of Wisconsin - Madison (COMP SCI 566)</h2>
			<div id="authors">
				<p class="m-0">William Cong</p>
				<p class="m-0">Beomjong Lee</p>
				<p class="m-0">Mason Langer</p>
				<p class="m-0">Arul Aravinthan</p>
			</div>
			<div class="w-3-4">
				<p>Consider the following video, which features a sequence of very unremarkable events: simply the team in white passing the ball back and forth in the defensive-to-lower third of the pitch. While this video, on its surface, does not appear to be enticing, it presents an incredibly valuable asset as it pertains player tracking data. For the purposes of soccer, but sports generally, player tracking data–data that identifies the position of the player on the field of play at a given point in time–serves as the basis for many industry-standard analytical models, such as expected goals (xG). </p>
			</div>
		</section>
		<div class="center">
			<video controls width="720" height="480">
				<source src="/videos/video_1.mp4" type="video/mp4" />
				Your browser does not support the video tag.
			</video>
		</div>
		<section class="mt-2">
			<div class="w-3-4">
				<p>While this video, on its surface, is not exceptional in terms of quality of play or exciting moments, it presents an incredibly valuable asset as it pertains to <b>player tracking data</b>. For the purposes of soccer, but sports generally, player tracking data–data that identifies the position of the player on the field of play at a given point in time–serves as the basis for many industry-standard analytical models, such as expected goals (xG). Thus, high-quality computer vision models are necessary for the identification of players and mappings of their movements throughout the game. However, these industry-standard models are often proprietary, and clean and accessible footage for open-source models are hard to come by. As such, our project seeks to bridge the gap between high-quality, accurate identification and accessible game footage by engineering a model to handle basic tasks such as location mapping, alongside re-identification and noise reduction to provide the foundation for a widely-accessible tracking tool.</p>
			</div>
		</section>
	</main>
</div>

<style is:global>
	.w-100 {
		width: 100%;
	}
	.w-50 {
		width: 50%;
	}
	.w-2-3 {
		width: 66.6667%;
	}

	.w-3-4 {
		width: 75%;
	}

	.title {
		font-size: 3rem;
		font-weight: 600;
		color: #111827;
	}
	.fw-500 {
		font-weight: 500;
	}
	.fw-600 {
		font-weight: 600;
	}
	.m-0 {
		margin: 0;
	}
	.mb-0 {
		margin-bottom: 0;
	}

	.mb-0-1 {
		margin-bottom: 0.1em;
	}

	.mb-0-25 {
		margin-bottom: 0.25em;
	}

	.mb-0-5 {
		margin-bottom: 0.5em;
	}

	.mb-1 {
		margin-bottom: 1em;
	}
	.mb-2 {	
		margin-bottom: 2em;
	}

	.mt-1 {
		margin-top: 1em;
	}
	.mt-0-5 {
		margin-top: 0.5em;
	}

	.mt-2 {
		margin-top: 2em;
	}

	.center {
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
<style>

	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		padding-bottom: 5rem;
	}

	main {
		width: 80%;
		height: auto;
		padding-top: 2.5%;
		padding-left: 10%;
		justify-content: center;
	}

	#hero {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: flex-start;
	}

	#authors {
		width: 100%;
		display: flex;
		flex-direction: row;
		font-size: 18px;
		gap: 12px;
	}

	#links {
		display: flex;
		gap: 16px;
	}

	#links a {
		display: flex;
		align-items: center;
		padding: 10px 12px;
		color: #111827;
		text-decoration: none;
		transition: color 0.2s;
	}

	#links a:hover {
		color: rgb(78, 80, 86);
	}

	#links a svg {
		height: 1em;
		margin-left: 8px;
	}

	#links a.button {
		color: white;
		background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
		box-shadow:
			inset 0 0 0 1px rgba(255, 255, 255, 0.12),
			inset 0 -2px 0 rgba(0, 0, 0, 0.24);
		border-radius: 10px;
	}

	#links a.button:hover {
		color: rgb(230, 230, 230);
		box-shadow: none;
	}

	pre {
		font-family:
			ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono',
			monospace;
		font-weight: normal;
		background: linear-gradient(14deg, #d83333 0%, #f041ff 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		margin: 0;
	}

	code {
		display: inline-block;
		background:
			linear-gradient(66.77deg, #f3cddd 0%, #f5cee7 100%) padding-box,
			linear-gradient(155deg, #d83333 0%, #f041ff 18%, #f5cee7 45%) border-box;
		border-radius: 8px;
		border: 1px solid transparent;
		padding: 6px 8px;
	}

	.box {
		padding: 16px;
		background: rgba(255, 255, 255, 1);
		border-radius: 16px;
		border: 1px solid white;
	}

	#news {
		position: absolute;
		bottom: 16px;
		right: 16px;
		max-width: 300px;
		text-decoration: none;
		transition: background 0.2s;
		backdrop-filter: blur(50px);
	}

	#news:hover {
		background: rgba(255, 255, 255, 0.55);
	}

	@media screen and (max-height: 368px) {
		#news {
			display: none;
		}
	}

	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}

		#hero {
			display: block;
			padding-top: 10%;
		}

		#links {
			flex-wrap: wrap;
		}

		#links a.button {
			padding: 14px 18px;
		}

		#news {
			right: 16px;
			left: 16px;
			bottom: 2.5rem;
			max-width: 100%;
		}

		h1 {
			line-height: 1.5;
		}
	}
</style>
